#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.profilePic {
  border: 4px #53b756aa;
}

.profilePic:hover {
  filter: drop-shadow(0 0 2em #53b756aa); 
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  justify-items: center;
}

.aboutMe {
  background-color: #53b756aa;
  border-radius:10px;
  font-size:16px;
  width: 70%;
  margin: 10%;
  padding: 10%;
}

.aboutMe:hover {
  filter: drop-shadow(0 0 2em #53b756aa);
}

.goals {
  background-color: #53b756aa;
  border-radius:10px;
  font-size:16px;
  width: 70%;
  margin: 10%;
  padding: 10%;
}

.goals:hover {
  filter: drop-shadow(0 0 2em #53b756aa);
}

.hobbies {
  background-color: #53b756aa;
  border-radius:10px;
  font-size:16px;
  width: 70%;
  margin: 10%;
  padding: 10%;
}

.hobbies:hover {
  filter: drop-shadow(0 0 2em #53b756aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
