#root {
  max-width: 1300px;
  text-align: center;
}

.h2 {
  color: #060504aa;
  font-size: 1em;
  line-height: 1.1;
}

.meme {
  padding: px;
  grid-column: 2/3;
  grid-row: 3/4;
}

.profilePic {
  grid-column: 2/3;
  grid-row: 1/2;
}

.profilePic img {
  border-radius: 70%;
  filter: drop-shadow(0 0 2em #53b756aa);
  grid-column: 2/3;
  grid-row: 4/5;
}

.profilePic:hover {
  filter: drop-shadow(0 0 2em #53b756aa); 
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 3em;
  justify-items: center;
  grid-auto-rows: minmax(150, auto);
}

.btn {
  grid-column: 1/2;
  grid-row: 1/2;

}

.aboutMe {
  background-color: #53b756aa;
  box-shadow: 3px 3px 7px 1px rgba(0,0,0,.8);
  border-radius:10px;
  font-size:16px;
  width: 70%;
  padding: 10%;
  grid-column: 1/2;
  grid-row: 2/3;
}

.aboutMe:hover {
  filter: drop-shadow(0 0 2em #53b756aa);
}

.goals {
  background-color: #53b756aa;
  box-shadow: 3px 3px 7px 1px rgba(0,0,0,.8);
  border-radius:10px;
  font-size:16px;
  width: 70%;
  padding: 10%;
  grid-column: 2/3;
  grid-row: 2/3;
}

.goals:hover {
  filter: drop-shadow(0 0 2em #53b756aa);
}

.hobbies {
  background-color: #53b756aa;
  box-shadow: 3px 3px 7px 1px rgba(0,0,0,.8);
  border-radius:10px;
  font-size:16px;
  align-items: center;
  width: 70%;
  padding: 10%;
  grid-column: 3/4;
  grid-row: 2/3;
}

.hobbies:hover {
  filter: drop-shadow(0 0 2em #53b756aa);
}




