:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

button {
  background-color: #53b756aa;
  border-radius:10px;
  font-size:16px;
  width: 70%;
  margin: 10%;
  padding: 10%;
  grid-column: 1/2;
  grid-row: 2/3;
}

button:hover {
  filter: drop-shadow(0 0 2em #53b756aa);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f9f2e8;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #53b756aa;
    border-radius:10px;
    font-size:16px;
    padding: 50px;
    min-height: 30px;
    min-width: 120px;
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
